<template>
  <div class="home">
    <Header />
    <Hero />
    <Content />
  </div>
</template>

<script>
import Header from '@/components/Header'
import Hero from '@/components/Hero'
import Content from '@/components/Content'

export default {
  name: 'home',
  components: {
    Header,
    Hero,
    Content
  }
}
</script>
