<template>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-5">{{product.name}}</h2>
            <div class="card-img">
                <img src="@/assets/images/product-default.svg" class="card-img-top" alt="logo cart">
            </div>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item list-title">до {{expectedIncome}} годовых</li>
                <li class="list-group-item"><span>{{product.min_sum | priceFormat}}</span><span>Минимальная сумма</span></li>
                <li class="list-group-item"><span>{{riskRation}}</span><span>Защита капитала</span></li>
                <li class="list-group-item"><span>{{periodInvest | endingFormat(['месяц', 'месяца', 'месяцев'])}}</span><span>Срок инвестиций</span></li>
            </ul>
            <button class="btn card-btn">Купить</button>
        </div>
    </div>
</template>

<script>
import priceFormat from '@/filters/price.filter'
import endingFormat from '@/filters/ending.filter'

export default {
  name: 'Card',
  props: {
    product: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  filters: {
    priceFormat,
    endingFormat
  },
  computed: {
    periodInvest () {
      const start = new Date(this.$props.product.period.start_date)
      const end = new Date(this.$props.product.contract.execution_date)

      return parseInt((end - start) / (24 * 3600 * 1000 * 30))
    },
    riskRation () {
      const ratio = this.$props.product.risk_ratio

      return `${100 - ratio * 100}%`
    },
    expectedIncome () {
      const income = this.$props.product.expected_income.first

      return income ? `${parseFloat(income)}%` : '∞'
    }
  }
}
</script>

<style scope lang="scss">
    .card{
        background-color: #f3f3f3;
        border: none;
        border-top: 5px solid #0075c9;
        transition: box-shadow ease-in-out .25s;
        &:hover{
          box-shadow: 0 12px 15px 0 #d2d2d2;
        }

        &-img{
            display: flex;
            justify-content: center;
            margin-bottom: 45px;
            img{
                width: 114px;
                height: 114px;
            }
        }
        &-title{
            font-size: 18px;
            font-weight: 700;
            min-height: 42px;
        }
        &-btn{
            font-size: 14px;
            border: solid 1px #000;
        }
    }
    .list-group-item{
        display: flex;
        padding-left: 0;
        padding-right: 0;
        background-color: initial;
        span:first-child{
            width: 40%;
        }
        &.list-title{
            border-bottom-width: 2px;
        }
    }
</style>
