<template>
    <section class="content pt-5 pb-5">
        <div class="d-flex justify-content-center" v-if="loader">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="container" v-else>
            <div class="row">
                <div class="col-md-6 col-lg-5 col-xl-4 mb-5 filter-col">
                    <Select
                        :options="options"
                        @select="filterProducts"
                        :selected="selected"
                    />
                    <button class="btn btn-light" @click="resetFilter">Сбросить</button>
                </div>
            </div>
            <div class="row cart-row">
                <div
                    v-for="product in processProducts"
                    :key="product.id"
                    class="col-md-6 col-lg-4 mb-5"
                >
                    <Card :product="product" />
                </div>
            </div>
            <Pagination />
        </div>
    </section>
</template>

<script>
import Select from '@/components/Select'
import Card from '@/components/Card'
import Pagination from '@/components/Pagination'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Content',
  data: () => {
    return {
      options: [
        { name: 'Безрисковые', value: '0.0000' },
        { name: 'Умеренный риск', value: '0.5000' },
        { name: 'Рисковые', value: '1.0000' }
      ],
      selected: 'Категории продуктов'
    }
  },
  components: {
    Select,
    Card,
    Pagination
  },
  computed: {
    ...mapState(['processProducts', 'loader'])
  },
  methods: {
    ...mapActions(['GET_PRODUCTS_FROM_API', 'FILTERED']),
    filterProducts (option) {
      this.selected = option.name
      this.FILTERED(option.value)
    },
    resetFilter () {
      this.selected = 'Категории продуктов'
      this.FILTERED(null)
    }
  },
  async mounted () {
    await this.GET_PRODUCTS_FROM_API()
  }
}
</script>
<style scope lang="scss">
    .filter-col{
        display: flex;
        .btn{
            margin-left: 15px;
        }
    }
</style>
