<template>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../assets/images/logo.svg" alt="Логотип Премьер БКС">
                </div>
            </div>
        </div>
    </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style scope lang="scss">
    .header{
        padding-top: 15px;
        padding-bottom: 15px;
    }
</style>
