<template>
    <section class="hero pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Премьер БКС</h1>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style scope lang="scss">
    .hero{
        background-color: #f3f3f3;
    }
</style>
