<template>
    <div class="row cart-row" v-if="pages > 1">
        <div class="col mb-5">
            <nav>
                <ul class="pagination">
                    <li v-if="curentPage !== 1" class="page-item">
                        <a class="page-link" href="#" @click.prevent="CHANGE_PAGE(curentPage-1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li
                        v-for="page in pages"
                        :key="page"
                        :class="{'page-item' : true, active : page === curentPage}"
                    >
                        <a class="page-link" href="#" @click.prevent="CHANGE_PAGE(page)">{{page}}</a>
                    </li>
                    <li v-if="curentPage !== pages" class="page-item">
                        <a class="page-link" href="#" aria-label="Next" @click.prevent="CHANGE_PAGE(curentPage+1)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Pagination',
  computed: {
    ...mapState(['pages', 'curentPage'])
  },
  methods: {
    ...mapActions(['CHANGE_PAGE'])
  }
}
</script>
