<template>
    <div class="v-select">
        <p class="v-title form-control" @click="isOptionsVisible = !isOptionsVisible">{{selected}}</p>
        <div class="v-options" v-if="isOptionsVisible">
            <p
                v-for="option in options"
                :key="option.value"
                @click="selectOption(option)"
            >
                {{option.name}}
            </p>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Select',
  data: () => {
    return {
      isOptionsVisible: false
    }
  },
  props: {
    options: {
      type: Array,
      default () {
        return []
      }
    },
    selected: {
      type: String,
      default: ''
    }
  },
  computed: {
  },
  methods: {
    selectOption (option) {
      this.$emit('select', option)
      this.isOptionsVisible = false
    },
    closeSelect () {
      this.isOptionsVisible = false
    }
  },
  mounted () {
    document.addEventListener('click', this.closeSelect.bind(this), true)
  },
  beforeDestroy () {
    document.removeEventListener('click', this.closeSelect)
  }
}
</script>

<style scope lang="scss">
    .v-select{
        position: relative;
        width: 100%;
        cursor: pointer;
        p{
            margin: 0;
        }
    }
    .v-title{
        width: 100%;
        padding: 6px 12px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 4px;
    }
    .v-options{
        position: absolute;
        z-index: 10;
        right: 0;
        width: 100%;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 4px;
        p{
            padding: 6px 12px;
            transition: background-color ease-in-out .15s color ease-in-out .15s;
        }
        p:hover{
            background-color: #007bff;
            color: #fff;
        }
    }
</style>
